* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 auto; 
    width: 100%;
    background-color: #171717;
    color: #f0f1ec;
    font-family:'Lacquer', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* .logo img {
    height: 100px;
    width: 200px;
} */

header a {
    text-decoration: none;
    cursor: pointer;
    color: #84867e;
}

header a:hover {
    color:#f0f1ec;
}

header {
    padding: 0 50px;
    background-color: #171717;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 10rem;
    margin: 0;
}

.navbar ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    font-size: 1.3rem;
}

.navbar li {
    padding: 10px; 
    margin-left: 15px;
    font-family: "Lacquer";
}

.navbar li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.navbar img {
    height: 30px;
    width: 30px;
}

#hamburger {
    margin: auto 0;
    display: none; 
    cursor: pointer;

}

#hamburger div {
    width: 35px;
    height: 3px;
    background-color: #f0f1ec;
    margin: 6px 0; 
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.mobile-menu {
    display: none; 
    position: absolute;
    margin-top: 15px;
    padding-top: 0px !important;
    left: 0;
    width: 100%;
    background-color: #171717;
}

.mobile-menu li {
    list-style-type: none;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-family: "Lacquer";
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/imgs/heroimg.png);
    background-size: cover;
    height: 20rem;
    width: auto;
    padding-top: 20px;
}

.hero-div {
    text-align: center;
    font-family: "Lacquer";
    color:#f0f1ec; 
}

/* .hero-image img {
    height: 20rem;
    padding-left: 1.4rem;
    padding-bottom: ;
    position: absolute;
    margin-top: -50px;
    display: flex;
} */

/* .hero-div p, .hero-div button {
    margin-top: 0;
    padding-top: 100px;

} */


#front-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

#sale{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

/* .cardGrid {
    background-color: #53554e;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    
} */

.cardGrid {
    display: flex;
    padding-top: 16px;
    background-color: #181818;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: all .6s ease;
    flex-direction: column;
    width: 250px;
    text-align: center;
}

.cardGrid:hover {
    transition: all .6s ease; 
    transform: scale(1.050);
}

.cardGrid img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.cardGrid button {
    width : 100px;
    margin: 0 auto;
    border: none;
    background-color: #351b1b;
    padding: 5px;
    color: #f0f1ec;
    font-family: "Lacquer";
    border-radius: 7px;

}

.cardGrid h2 {
    padding-top: 10px;
}

.cardGrid p, h5 {
    color:#84867e;
    padding-top: 10px;
}

.cardGrid p {
    padding-bottom: 10px;
}

.bestsellers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/imgs/SITEWIDE\ SALE.png);
    background-size: cover;
    width: auto;
    height: 25rem;
}

.top-text p, .bestsellers-text p {
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
    color:#84867e;
}

footer {
    background-color: rgb(13, 13, 13);
    color: #84867e;
}

footer a {
    color:#abaea5;
    display: flex;
    text-decoration: none;

}

footer img {
    height: 100px;
    width: 100px;
    padding-left: 10px;
}






@media only screen and (max-width: 415px){
    #front-grid {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
    }

    #sale {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}


@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger {
        display: block;
    }

    #front-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    #sale {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    .bestsellers {
        
    }
}
